* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
#cartCount {
    background-color: black;
    color: red;
}
#notify {
    position: fixed;
    top:0;
    width: fit-content;
    background-color: green;
    color: white;
    text-align: center;
    display: none;
    padding: 4px;
    z-index: 1;
    animation: countdown 3s;
}
@keyframes countdown {
    from{ 
        right : 8px; }
    to{
       right : 8px; }
}
select {
    color: azure;
}
#cartItem div{
    color: azure;
}
body {
    background-color: lavender;
}
#quantity {
    width: 15px;
}
header {
    display: flex;
    justify-content: space-between;
}
header div {
    display: flex;
    align-items: flex-start;
}
#logo{
    width: 100px;
    height: 50px;
    border-radius: 0px 15px 0px 15px;
}
#cartIcon{
    width: 50px;
    height: 50px;
}
#cartCount {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}
#cart {
    width:100%;
    display:none;
} 
#cartItem{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 10px 0px;
    
}
#cart div img{
    height:70px;
    width: 100px;
}
.container {
    margin: 6% 15%;
}
#itemDesc {
    background: rgba(90,210,112,.5);
    padding:0px 4px 20px 30px;
    border-radius: 0px 0px 0px 35px;
    position: absolute;
    margin: 60px 0px 0px 30% ;
    border-top: 2px solid white;
}
#itemDesc p {
    font-size: .8rem;
    margin: 5px 0px 0px 5px;
    color: whitesmoke;
}
#itemDesc h4 {
    margin: 6px 0px 0px 0px;
    font-family: oblique;
    font-size: 1.5rem;
}
.clothesRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.clothesRow img {
    width: 400px;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 40px;
}
h2 {
    margin-top: 8px;
}
h2 span {
    color: green;
}
h2 sup {
    color: white;
    font-size: 1rem;
}
#addToCart {
    background-color: bisque;
    color: blue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px 4px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}


/* media queries for mobile phones*/

@media(max-width: 435px){

body {
    background-image: url("images - 2024-01-25T163555.445.jpeg");
    background-position: center;
    background-attachment: fixed;
}
header{
    background-color: beige;
    border-radius: 0px 0px 0px 20px;    
}
.container{
    margin: 20px 2px;
}
#itemDesc {
    background: rgba(210,210,210,.5);
    padding:0px 4px 20px 30px;
    border-radius: 0px 0px 0px 35px;
    position: absolute;
    margin: 30px 0px 0px 50% ;
    border-top: 2px solid white;   
}
#itemDesc p {
    font-size: .8rem;
    margin: 5px 0px 0px 5px;
    color: whitesmoke;
}
#itemDesc h4 {
    margin: 6px 0px 0px 0px;
    font-family: oblique;
    font-size: 1.5rem;
}
.clothesRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding:10px;
}
.clothesRow img {
    width: 200px;
    height: 200px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 40px;
    z-index: 1;
}
h2 {
    margin-top: 8px;
}
h2 span {
    color: green;
}
h2 sup {
    color: white;
    font-size: 1rem;
}
#addToCart {
    background-color: bisque;
    color: blue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px 4px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

    
    
}
